.App {
  text-align: center;
  font-family: Roboto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.initial-modal, .gameover-modal {
  position: absolute; 
  left: 0; 
  right: 0; 
  margin: auto; 
  width: 800px;
  height: 400px;
  bottom: 0;
  top: 0;
  background-color: white;
  padding: 20px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  border: none !important;
  text-align: center;
}
.initial-modal:focus-visible {
  outline: none;
}
.btn-container {
  padding: 20px;
}
button.btn-primary {
  margin: 30px;
  padding: 30px;
  font-size: 18px;
  font-weight: 800;
  -webkit-box-shadow: 0 5px 20px -6px #777;
  -moz-box-shadow: 0 5px 20px -6px #777;
       box-shadow: 0 5px 20px -6px #777;
  border-radius: 5px;
  border: none;
}
button.btn-primary:hover {
  cursor: pointer;
}
.easy {
  color: green;
}
.medium {
  color: #8B8000;
}
.hard {
  color: red;
}
.square {
  transition: 0.1s all;
}
.square:active {
  transform: scale(1.03);
}
.square-container {
  overflow: hidden;
}
.loser {
  font-size: 8px;
}